.nothing {
	background-color: lightblue;
	margin: 5px;
	display: flex;
	color: white;
	border-radius: 20px;
	border: 1px solid black;
	box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.nothing #title {
	align-items: center;
	display: flex;
	margin: 10px;
	padding: 0px;
	width: 300px;
	background-color: blue;
	font-size: 36px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.nothing #title:hover {
	background-color: darkblue;
}
.nothing #title p {
	margin-left: 10px;
}
.nothing #description {
	display: flex;
	margin: 10px;
	padding: 0px;
	font-size: 18px;
}
.nothing #description br {
	margin: 9px;
}
.nothing #download {
	display: flex;
	align-items: center;
	background-color: red;
	border-radius: 20px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.nothing #download:hover {
	background-color: darkred;
}
.nothing #download p {
	padding: 5px;
	margin: 10px;
	font-size: 18px;
}
@media screen and (max-width: 699px) {
	.nothing #title {
		font-size: 18px;
	}
	.nothing #description {
		font-size: 8px;
	}
}