body {
	margin: 0px;
	font-family: "Monospace";
	font-weight: Bold;
}
a {
	all: unset;
}
div, p, h1, h3 {
	-webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.greet {
	background-color: gray;
	color: white;
	display: flex;
	height: 80px;
	align-items: center;
	text-align: center;
	margin: 0px;
}
.greet h1 {
	margin: 10px
}
.menu {
	background-color: gray;
	position: sticky;
    top: 0;
	color: white;
	display: flex;
	flex-direction: row;
	height: 30px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.menu a:not(#menu-small) {
	background-color: rgb(64, 64, 64);
	display: flex;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid white;
	height: 30px;
	width: 100px;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
.menu a:not(#menu-small):hover {
	background-color: black;
	box-shadow: 0 10px 10px rgba(0,0,0,0.2);
}
#menu-open {
	display: none;
}
#menu-small {
	background-color: rgb(64, 64, 64);
	display: none;
	padding-left: 20px;
	text-align: center;
	height: 30px;
}
@media screen and (max-width: 699px) {
	body {
		font-weight: normal;
	}
	.greet h3 {
		display: none;
	}
	.menu {
		flex-direction: column;
	}
	.menu a:not(#menu-small) {
		width: auto;
		border: none;
		display: none;
	}
	#menu-small {
		position: sticky;
    	top: 0;
		display: flex;
		text-align: center;
		align-items: flex-end;
	}
	#menu-open:checked~*:not(#menu-small){
		display: flex;
		z-index: 2;
	}
}