body {
	margin: 0px;
	font-family: "Monospace";
	font-weight: Bold;
}
a {
	all: unset;
}
div, p, h1, h3 {
	-webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
.greet {
	background-color: gray;
	color: white;
	display: flex;
	height: 80px;
	align-items: center;
	text-align: center;
	position: sticky;
	margin: 0px;
}
.greet h1 {
	margin: 10px
}
.menu {
	background-color: gray;
	color: white;
	display: flex;
	flex-direction: row;
	height: 30px;
}
.menu div:not(#menu-small) {
	background-color: rgb(64, 64, 64);
	display: flex;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid white;
	height: 30px;
	width: 100px;
}
.menu div:hover {
	text-decoration: underline;
	background-color: rgb(32, 32, 32);
}
#menu-open {
	display: none;
}
#menu-small {
	background-color: rgb(64, 64, 64);
	display: none;
	padding-left: 20px;
	text-align: center;
	height: 30px;
}
.tom {
	background-color: lightblue;
	margin: 5px;
	display: flex;
	color: white;
	border: 1px solid blue;
}
.tom #title {
	align-items: center;
	display: flex;
	margin: 10px;
	padding: 0px;
	width: 300px;
	background-color: blue;
	font-size: 36px;
	text-align: center;
}
.tom #title p {
	margin-left: 10px;
}
.tom #description {
	display: flex;
	margin: 10px;
	padding: 0px;
	font-size: 18px;
}
.tom #description br {
	margin: 9px;
}
.tom #download {
	display: flex;
	align-items: center;
	background-color: red;
}
.tom #download p {
	padding: 5px;
	margin: 10px;
	font-size: 18px;
}
@media screen and (max-width: 699px) {
	body {
		font-weight: normal;
	}
	.greet h3 {
		display: none;
	}
	.menu {
		flex-direction: column;
	}
	.menu div:not(#menu-small) {
		width: auto;
		border: none;
		display: none;
	}
	#menu-small {
		display: flex;
		text-align: center;
		align-items: flex-end;
	}
	#menu-open:checked~*:not(#menu-small){
		display: flex;
		z-index: 2;
	}
	.tom #title {
		font-size: 18px;
	}
	.tom #description {
		font-size: 8px;
	}
}